ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=123456
JWT_SECRET=ASDKSDKBaksndkasndkasd!@23232
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
NEXT_PUBLIC_SUPABASE_URL=https://zsilwixyhgbocotfnqiv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_jxh_Ke4cxMuVKqyPqM-21w_g00jsQj-

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_FOLDER=travel-agency/customers
